* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button, option {
  font-family: 'Open Sans', sans-serif;
}

header {
  position: relative;
  width: 100%;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #422755;
  height: 170px;
  font-size: 2.4rem;
  font-weight: 800;
  color: #FFFFFF;
}

header .title::before {
  content: '';
  position: absolute;
  top: 88.5%;
  left: 0;
  width: 100%;
  height: 20px;
  background: #FFFFFF;
  -webkit-clip-path: polygon(0 0, 100% 95%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 95%, 100% 100%, 0% 100%);
}

.subtitle {
  width: 75.5%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #422755;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .task-container {
  width: 94.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .task-container .task-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000000;
  border-radius: 14px;
  padding: 16px 12px;
  margin-bottom: 24px;
  position: relative;
}

main .task-container .task-box #short-deadline, main .task-container .task-box #task-late {
  background: #422755;
  position: absolute;
  left: -5px;
  top: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 6px 12px 6px 22px;
  border-radius: 0 5px 5px 0;
}

main .task-container .task-box #task-late {
  background: #F04837;
}

main .task-container .task-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 13px;
}

main .task-container .task-content .task-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .task-container .task-content .task-title h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #414141;
}

main .task-container .task-content .description {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5px 0 7px;
}

main .task-container .task-content .term {
  font-size: 1.2rem;
  font-weight: 700;
}

main .task-container .task-content .term strong {
  font-size: 1.8rem;
  font-weight: 700;
  color: #F04837;
}

main .task-container .task-content .complete {
  width: 100%;
  background: none;
  border: 1px solid #422755;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #422755;
  margin: 7px 0 6px;
  -webkit-transition: .6s;
  transition: .6s;
}

main .task-container .task-content .complete:hover {
  background: #422755;
  color: #FFFFFF;
}

main .task-container .task-content .included {
  font-size: 1rem;
}

main .task-container .see-more {
  background: #6E4B87;
  border: none;
  border-radius: 8px;
  padding: 10px 32px;
  margin-top: 23px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

main .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95.5%;
  height: 146px;
  border-radius: 8px;
  margin: 45px 0 37px;
  background: #FEAF3D;
}

main .search-box .search-form {
  width: 90%;
  position: relative;
}

main .search-box .search-form input {
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
}

main .search-box .search-form button {
  background: #6E4B87;
  border: none;
  border-radius: 8px;
  padding: 8px 11px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}

main .search-box .organize-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  width: 90%;
}

main .search-box label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFFFFF;
}

main .search-box #organize {
  background: #FFFFFF;
  width: 193px;
  height: 34px;
  margin-left: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 29px;
}

main .linx-logo {
  margin-top: 64px;
}

main .linx-about {
  width: 85.8%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #414141;
  margin: 45px 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button, option {
  font-family: 'Open Sans', sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background: #422755;
}

footer p {
  font-size: 1.2rem;
  color: #FFFFFF;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */